__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/
*.pyc
*.py[cod]
.DS_Store

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage


# Agentics
agentics.code-workspace
# Test reports
report.html

# IDE
.vscode

# local folders
__*__/
green cleaned.csv
AI Portfolio Selection/firm_data.db
examples/green_cleaned_pre_2020.csv
examples/green_cleaned_pre_2020.csv
examples/finbert model/config.json
examples/finbert model/pytorch_model.bin
examples/finbert model/special_tokens_map.json
examples/finbert model/tokenizer_config.json
examples/finbert model/vocab.txt
